* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
}

/* BACKGROUND */
.bg {
  position: fixed;
  inset: 0;
  background: url("img/homebg.jpg") no-repeat center center/cover;
  z-index: -1;
}

/* LOGO */
.logo {
  position: fixed;
  top: 25px;
  left: 45px;
  width: 130px;
}

/* NAVIGATION */
.nav {
  position: fixed;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 50px;
}

.nav a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}

/* TEXT BLOCK */
.text-block {
  position: fixed;
  top: 180px;
  right: 120px;
  width: 420px;
  color: white;
}

.text-block h1 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
}

.text-block h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 15px;
}

.text-block .read {
  font-size: 18px;
  margin-bottom: 15px;
}

.text-block .desc {
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 25px;
}

/* BUTTON */
.btn {
  background: white;
  color: #000;
  padding: 7px 25px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 13px;
}

/* BOT */
.bot {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 130px;
}
