/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0d1b2a;   /* خلفية بسيطة */
  height: 100vh;
  color: white;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  width: 100%;
  padding: 40px 90px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-box {
  background: #ffffff22;
  padding: 10px 20px;
  border-radius: 6px;
}

nav {
  display: flex;
  gap: 40px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

/* RIGHT CONTENT */
.content {
  position: absolute;
  top: 150px;
  right: 140px;
  width: 420px;
}

.title-1 {
  font-size: 38px;
  font-weight: 300;
  margin-bottom: 10px;
}

.title-2 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
}

.readmore {
  margin-bottom: 15px;
}

.desc {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 25px;
}

.btn-primary {
  background: white;
  color: black;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

/* BOT */
.bot {
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 15px 20px;
  background: #ffffff22;
  border-radius: 10px;
}
