/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: url("img/homebg.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  color: white;
}

/* NAVBAR */
.navbar {
  width: 100%;
  padding: 40px 90px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 110px;
}

nav {
  display: flex;
  gap: 40px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}


/* === TEXT EXACT POSITION === */
.content {
  position: absolute;
  top: 150px;     /* ارفع وانزل زي ما تحب */
  right: 140px;   /* حرك النص يمين/شمال */
  width: 420px;
}

/* TITLE 1 */
.title-1 {
  font-size: 38px;
  font-weight: 300;
  margin-bottom: 10px;
}

/* TITLE 2 */
.title-2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 25px;
}

/* Read More */
.readmore {
  font-size: 16px;
  margin-bottom: 15px;
}

/* Paragraph */
.desc {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 25px;
  width: 90%;
}

/* BUTTON */
.btn-primary {
  background: white;
  color: black;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}


/* BOT */
.flobot {
  position: fixed;
  bottom: 40px;
  right: 55px;
  width: 120px;
}
